{% extends "base.html.j2" %}

{% block content %}
<div class="bg-light p-5 rounded mx-3 mb-4">
    <div class="container">
      <h1 class="display-4">Too Many Requests</h1>
      <p class="lead">You have exceeded the allowed number of requests. Please wait 24 hours and try again.</p>
      <p class="lead">If you believe this is an error, please contact support.</p>
    </div>
  </div>
{% endblock %}
